@use '../abstracts/variables' as *;

@font-face {
    font-family: "Open Sans";
    src: url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap);
}

body {
    background-color: $color-primary;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0%) 0%, $color-primary),
        url("/assets/images/background.svg");
}
