@font-face {
    font-family: "Open Sans";
    src: url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}
