.app {
    &__background {
        margin: 0 auto;
        padding: 4rem;
        width: min(100vw, 130rem);

        background: #fafafa;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
        border-radius: 4px;

        & > * {
            transform: translateY(-30%);
        }
    }
}
